__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.venv/
.env
.DS_Store
.streamlit/
chromadb/
db/
*.sqlite
*.env
secrets.*
scripts/
tests/
pyproject.toml
qodana.yaml
data/
src/data/
*.pdf
*.docx
*.txt
*.md
.idea/
.vscode/